.jumbotron{
    background: linear-gradient(#cacaca,white,white,white, #cacaca);

}

.banner-pic{
    background-image: url("../img/tucson_2.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.carousel-item:hover{
    opacity: 0.7;
}

.navbar{
    background: #cacaca;
}

.container_2{
    background: linear-gradient(#cacaca,white,white,white, #cacaca);

}

.footer{
    background-color: #cacaca;
}