.jumbotron{
    background: linear-gradient(#cacaca,white,white,white, #cacaca);

}

.carousel-item:hover{
    opacity: 0.7;
}

.navbar{
    /*background-color: #d48eff !important;*/
    background: #cacaca;
}

.container_2{
    background: linear-gradient(#cacaca,white,white,white, #cacaca);

}